<!DOCTYPE html>
<html>
<head>
    <title> Cantera for Web </title>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
    <script src="static/js/jquery.js"></script>
    <script src="static/js/execute.js"></script>
    <script src="static/js/ace-min/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js" charset="utf-8"></script>
    <script src="http://ajaxorg.github.io/ace-builds/src/ace.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="static/css/style_home.css?ver=29">
    <script>
  $(function() {
    $( "#tabs" ).tabs();
    $(".ui-closable-tab").live( "click", function() {
        var tabContainerDiv=$(this).closest(".ui-tabs").attr("id");
        var panelId = $( this ).closest( "li" ).remove().attr( "aria-controls" );
        $( "#" + panelId ).remove();
        $("#"+tabContainerDiv).tabs("refresh");
        var tabCount=$("#"+tabContainerDiv).find(".ui-closable-tab").length;
        if (tabCount<1) {
            $("#"+tabContainerDiv).hide();
        }
    });
  });
  </script>

    <style>
  .ui-icon-circle-close {
    cursor:pointer;
  }
    </style>
</head>
<body>
    <h1>Cantera for Web</h1>
    <ul>
        <li><a class="active" href="/">Editor</a></li>
        <li><a href="/help">Help</a></li>
        <li><a href="/helpcpp">C++ Help</a></li>
        <li ><a href="/about">About</a></li>
        <li style="float:right"> <a href="/login">Login</a> </li>
    </ul>

    <strong>Enter Cantera code (in Python or C++) below and press Execute.</strong><br>
    <select class="lang" id="langSelect">
      <option value="Python">Python</option>
      <option value="C++">C++</option>
    </select>


    <ul class="tabs">
      <li><a href="#">Tab 1</a></li>
      <li><a href="#">Tab 2</a></li>
    </ul>
    <!-- tab "panes" -->
    <div class="panes">
      <div id="pane1"></div>

      <div id="pane2"></div>

    </div>
    <script>
      $(function() {
        $("ul.tabs").tabs("div.panes > div");
      });
    </script>
    <script src="static/js/script.js"></script>

    <button class="button" id="execButton">Execute</button>
    <button class="button" id="importButton">Import</button>
    <input type=file id="fileImport">
    <h2>Output</h2>
    <p class="p_editor">
    <textarea id="output" placeholder="Output appears here" rows="15" ></textarea>
   </p>
    <button class="button" id="outputButton">
        <a href="/output" download>Get Output</a>
    </button>
   <div class="imgdiv" id="plot_img"> </div>
    <button class="button" id="plotButton">
        <a id='plotlink' href="/getplot" download>Get Plot</a>
    </button>
</body>
</html>
