<!DOCTYPE html>
<html>
<head>
    <title> Cantera for Web </title>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
    <script src="static/js/jquery.js?ver=3"></script>
    <script src="static/js/execute.js?ver=15"></script>
    <script src="static/js/editor.js"></script>
    <script src="static/js/ace-min/ace.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="static/css/style_home.css?ver=29">
    
</head>
<body>
    <h1>Cantera for Web</h1>
    <ul>
        <li><a class="active" href="/">Editor</a></li>
        <li><a href="/help">Help</a></li>
        <li ><a href="/about">About</a></li>
        <li style="float:right"> <a href="/login">Login</a> </li>
    </ul>

    <p class = "p_editor">
    <strong>Enter Cantera code (in Python) below and press Execute.</strong> 
    <pre id="editor1"></pre>
    <script> createEditor(); </script>
   </p>
   
    <button class="button" id="execButton">Execute</button>
    <button class="button" id="importButton">Import</button>
    <input type=file id="fileImport">
    <h2>Output</h2>
    <p class="p_editor">
    <textarea id="output" placeholder="Output appears here" rows="15" ></textarea>
   </p>
   <div class="imgdiv" id="plot_img"> </div>
</body>
</html>
