<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="static/js/jquery.js"></script>
    <script src="static/js/execute.js"></script>
    <script src="static/js/ace-min/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js" charset="utf-8"></script>
    <script src="http://ajaxorg.github.io/ace-builds/src/ace.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="static/css/style_home.css?ver=29">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src ="static/js/editor3.js"></script>

  <script>
    $( function() {
    var tabTitle = $( "#tab_title" );

    // Modal dialog init: custom buttons and a "close" callback resetting the form inside
    var dialog = $( "#dialog" ).dialog({
      autoOpen: false,
      modal: true,
      buttons: {
        Add: function() {
          addTab();
          $( this ).dialog( "close" );
        },
        Cancel: function() {
          $( this ).dialog( "close" );
        }
      },
      close: function() {
        form[ 0 ].reset();
      }
    });

var form = dialog.find( "form" ).on( "submit", function( event ) {
      addTab();
      dialog.dialog( "close" );
      event.preventDefault();
    });

$( "#add_tab" )
    .button()
    .on( "click", function() {
    dialog.dialog( "open" );
});
} );

</script>

</head>

<body>

<h1>Cantera for Web</h1>
    <ul>
        <li><a class="active" href="/">Editor</a></li>
        <li><a href="/help">Help</a></li>
        <li><a href="/helpcpp">C++ Help</a></li>
        <li ><a href="/about">About</a></li>
    </ul>
  <div align="left">
    <strong>Enter Cantera code (in Python or C++) below and press Execute.</strong><br>
  </div>
  <select class="lang" id="langSelect">
      <option value="Python">Python</option>
      <option value="C++">C++</option>
    </select>


     <div id="dialog" title="Tab data">
    <form>
    <fieldset class="ui-helper-reset">
      <label for="tab_title">Title</label>
      <input type="text" name="tab_title" id="tab_title" value="Tab Title" class="ui-widget-content ui-corner-all">
    </fieldset>
    </form>
    </div>

    <div style="background-color: transparent; width: 96%; border: transparent; margin-top: 30px; margin-left: 10px;" id="tabs">
    <ul>
    </ul>
    </div>

    <button class="button" id="execButton">Execute</button>
    <button class="button" id="restoreButton">Restore</button>
    <button class="button" id="importButton">Import</button>
    <button class="button" id="addTab">Add an editor</button>
    <button id="add_tab">Add Tab</button>
    <input type=file id="fileImport">

    <h2>Output</h2>
    <p class="p_editor">
    <textarea id="output" placeholder="Output appears here" rows="15" ></textarea>
   </p>
    <button class="button" id="outputButton">
        <a href="/output" download="output.txt">Get Output</a>
    </button>
   <div class="imgdiv" id="plot_img"> </div>
    <button class="button" id="plotButton">
        <a id='plotlink' href="/getplot" download="userplt.png">Get Plot</a>
    </button>

</body>
</html>