<!DOCTYPE html>
<html>
<head>
    <title> Cantera for Web </title>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
    <script src="static/js/jquery.js?ver=3"></script>
    <script src="static/js/editor.js"></script>
    <script src="static/js/ace-min/ace.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="static/css/style_home.css?ver=29">
    <link href="static/css/prism.css" rel="stylesheet" />

</head>

<body>
    <h1>Cantera for Web</h1>
    <ul>
        <li><a href="/">Editor</a></li>
        <li><a href="/help">Help</a></li>
        <li><a class="active" href="/helpcpp">C++ Help</a></li>
        <li ><a href="/about">About</a></li>
        <li style="float:right"> <a href="/logout">Log Out</a> </li>
    </ul>

    <h3> Using C++ </h3>
    <p class="p_para">
        The C++ functionality is somewhat limited, but all
        Cantera functionality is available. Select "C++" from
        the language dropdown above the editor to use C++.
    </p>
    <h3> Formatting C++ code </h3>
    <p class="p_para">
        Since the using C++ is somewhat limited, your code has to follow
        a simple guideline: <strong> pretend you're writing everything
        inside main()</strong>!
    </p>
    <pre><code id="exec.cpp" class="language-cpp"></code></pre>
    <p class="p_para">
        The <strong>try</strong> and <strong>catch</strong> blocks are
        simply there to output any Cantera specific errors to the user.
    </p>
   <script src="static/js/examples.js"></script>
   <script src="static/js/prism.js"></script>
</body>
</html>
