@import url('https://fonts.googleapis.com/css?family=Palanquin');

.ace_editor {
		border: 1px solid black;
		height: 250px;
		width: 75%;
        position: relative;
        font-family: 
	}
	.scrollmargin {
		height: 80px;
        text-align: center;
}

body {
    background: lightblue;
    font-family: 'Palanquin', sans-serif;
}

h1 {
    color: black;
}

h3 {
    color: black;
}

.button {
    background-color: black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border: black;
}

textarea {
    outline: none;
    width: 75%
}