@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,600italic,300,600"); 

body {
  /*background-image: url("match.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;*/
  background-color: #000000;
  color: #FFFFFF;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

strong {
    font-weight: bold
}

p {
    line-height: 130%;
}

.p_editor {
    margin: 15px;
    padding: 0px 5px 10px;
    font-size: 16px;
}
.p_para {
    padding: 0px 5px 10px;
    margin: 0px 7px;
}

h1 {
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 150px;
  margin-left: 20%;
  text-transform: uppercase;
  border: 0;
  font-size: 84px;
  font-weight: bold;
  vertical-align: baseline;
}

h2 {
  margin: 15px;
  font-size: 32px;
  font-weight: bold;
}

h3 {
  padding: 10px 5px 15px;
  margin: 0px 7px;
  font-size: 26px;
  font-weight: 300;
}

select {
    -webkit-appearance: menulist;
    border-left: 1px solid white;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  border-top: 1px solid white;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  width: 10%;
  height: 30px;
  margin: 10px;
  font-size: 10px;
  color: #ffffff;
  background-color: transparent;
}

.button {
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  border-top: 1px solid white;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  width: 15%;
  height: 50px;
  margin: 15px;
  font-size: 20px;
  color: #ffffff;
  background-color: transparent;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.button .register{
     font-size: 12px;
     letter-spacing: 0px;
     

}

button:hover {
  background: #1E90FF;
}

.ace_editor {
		border: 2px solid #1E90FF;
		height: 250px;
		width: 98%;
        position: relative;
        left: 6px;
}

.container{ width:100%; }
.align-left{ float: left;width:70%; }
.align-right{float: right;width:30%}

a {
    text-decoration: none;
}

a.button {
    display: inline-block;
    width: 100px;
    height: 27px;
    font-size: 18px;
 }

textarea {
    outline: none;
    font-size: 13px;
    padding: 0px 5px 15px;
    border: 2px solid #1E90FF;
    width: 98%;
    background-color: #FFFFFF;
}

ul {
    margin: 5px;
    display: block;
    min-width: 7.5rem;
    height: 2.75rem;
    padding: 0 1rem 0 1rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 0.8rem;
    border-bottom: 15px;
}

.active {
    background-color: lightslategray;
}

li {
    float: left;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-top: 1px solid white;
}

li:last-child {
}

li a {
    display: block;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #1E90FF;
}

code, pre {
	font-family: Consolas, Monaco, 'Andale Mono', 'Lucida Console', monospace;
	hyphens: none;
    font-size: 13px;
    width: 55%;
    padding: 0px;
    margin: 0px;
    position: relative;
    left: 7px;
}

.imgdiv{
    margin: 10px;
}
.lang{
    margin: 10px  5px 0px;
}

button a {
    color: #FFFFFF;
    font-size: 22px;
    height: 30px;
    width: 300px;
}


/*LOGIN PAGE SPECIFIC*/
/* Pen Title */
.pen-title {
  padding: 50px 0;
  text-align: center;
  letter-spacing: 2px;
}
.pen-title h1 {
  margin: 0 0 20px;
  font-size: 48px;
  font-weight: 300;
}
.pen-title span {
  font-size: 12px;
}
.pen-title span .fa {
  color: #33b5e5;
}
.pen-title span a {
  color: #33b5e5;
  font-weight: 600;
  text-decoration: none;
}

/* Form Module */
.form-module {
  position: relative;
  background: #ffffff;
  max-width: 320px;
  width: 100%;
  border-top: 5px solid #33b5e5;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}
.form-module .toggle {
  cursor: pointer;
  position: absolute;
  top: -0;
  right: -0;
  background: #33b5e5;
  width: 30px;
  height: 30px;
  margin: -5px 0 0;
  color: #ffffff;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
}
.form-module .toggle .tooltip {
  position: absolute;
  top: 5px;
  right: -65px;
  display: block;
  background: rgba(0, 0, 0, 0.6);
  width: auto;
  padding: 5px;
  font-size: 10px;
  line-height: 1;
  text-transform: uppercase;
}
.form-module .toggle .tooltip:before {
  content: '';
  position: absolute;
  top: 5px;
  left: -5px;
  display: block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid rgba(0, 0, 0, 0.6);
}
.form-module .form {
  display: none;
  padding: 40px;
}
.form-module .form:nth-child(2) {
  display: block;
}
.form-module h2 {
  margin: 0 0 20px;
  color: #33b5e5;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
}
.form-module input {
  outline: none;
  display: block;
  width: 100%;
  border: 1px solid #d9d9d9;
  margin: 0 0 20px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-wieght: 400;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.form-module input:focus {
  border: 1px solid #33b5e5;
  color: #333333;
}
.form-module button {
  cursor: pointer;
  background: #33b5e5;
  width: 100%;
  border: 0;
  padding: 10px 15px;
  color: #ffffff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.form-module button:hover {
  background: #178ab4;
}
.form-module .cta {
  background: #f2f2f2;
  width: 100%;
  padding: 15px 40px;
  box-sizing: border-box;
  color: #666666;
  font-size: 12px;
  text-align: center;
}
.form-module .cta a {
  color: #333333;
  text-decoration: none;
}
