@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,600italic,300,600"); 

body {
  background-image: url("static/images/background.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  color: #ffd40c;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
}

strong {
    font-weight: bold;
    margin-top: 100px;
}

p {
    line-height: 130%;
}

.p_editor {
    margin: 15px;
    padding: 0px 5px 10px;
    font-size: 24px;
}
.p_para {
    padding: 0px 5px 10px;
    margin: 0px 7px;
    color: #ffd40c;
    font-size: 24px;
}

h1 {
  -ms-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  display: block;
  margin-top: 3%;
  margin-bottom: 5%;
  margin-right: 20%;
  margin-left: 20%;
  text-transform: uppercase;
  color: #ffd40c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  vertical-align: baseline;
  text-align: center;
    border-style: solid;
  border-color: #ffd40c;
			border-top-width: 1px;
			border-bottom-width: 1px;
   border-right: transparent;
    border-left: transparent;
}

h2 {
  margin: 15px;
  font-size: 50px;
  font-weight: 100;
}

h3 {
  padding: 10px 5px 15px;
  margin: 0px 7px;
  font-size: 50px;
  font-weight: 300;
}

select {
    -webkit-appearance: menulist;
    border-left: 1px solid #ffd40c;
  border-bottom: 1px solid #ffd40c;
  border-right: 1px solid #ffd40c;
  border-top: 1px solid #ffd40c;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  width: 15%;
  height: 30px;
  margin: 10px;
  font-size: 10px;
  color: #ffd40c;
  background-color: transparent;
}

.selectFile {
    -webkit-appearance: menulist;
    border-left: 1px solid #ffd40c;
  border-bottom: 1px solid #ffd40c;
  border-right: 1px solid #ffd40c;
  border-top: 1px solid #ffd40c;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  width: 75%;
  height: 30px;
  margin: 10px;
  font-size: 10px;
  color: #ffd40c;
  background-color: transparent;
}

select option{
    background: #000000
}
.close{
  -moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		background-color: transparent;
		border-radius: 2px;
		border: 0;
		box-shadow: inset 0 0 0 1px #ffd40c;
		color: #ffd40c !important;
		cursor: pointer;
		display: inline-block;
		font-size: .5rem;
		font-weight: 300;
		height: 2.75rem;
		letter-spacing: 0.2rem;
		line-height: 2.75rem;
		outline: 0;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;
        margin-bottom: 10px;
}

.execButton{
  -moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		background-color: transparent;
		border-radius: 4px;
		border: 0;
		box-shadow: inset 0 0 0 1px #ffd40c;
		color: #ffd40c;
		cursor: pointer;
		display: inline-block;
		font-size: 1rem;
		font-weight: 300;
		height: 2.75rem;
		letter-spacing: 0.2rem;
		line-height: 2.75rem;
		outline: 0;
		padding: 0 1.25rem 0 1.35rem;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;
    margin-right: 10px;
        margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.execButtonDisabled{
        -moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		background-color: transparent;
		border-radius: 4px;
		border: 0;
		box-shadow: inset 0 0 0 1px #a0aaba;
		color: #a0aaba;
		cursor: default;
		display: inline-block;
		font-size: 1rem;
		font-weight: 300;
		height: 2.75rem;
		letter-spacing: 0.2rem;
		line-height: 2.75rem;
		outline: 0;
		padding: 0 1.25rem 0 1.35rem;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;
    margin-right: 10px;
        margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.execButtonDisabled:hover{
    background: rgba(255, 0, 0, 0)
}
.deleteButton{
    -moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		background-color: transparent;
		border-radius: 4px;
		border: 0;
		box-shadow: inset 0 0 0 1px #ffd40c;
		color: #ffd40c !important;
		cursor: pointer;
		display: inline-block;
		font-size: 1rem;
		font-weight: 300;
		height: 2.75rem;
		letter-spacing: 0.2rem;
		line-height: 2.75rem;
		outline: 0;
		padding: 0 1.25rem 0 1.35rem;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;
    margin-right: 10px;
        margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.importButton{
    -moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		background-color: transparent;
		border-radius: 4px;
		border: 0;
		box-shadow: inset 0 0 0 1px #ffd40c;
		color: #ffd40c !important;
		cursor: pointer;
		display: inline-block;
		font-size: 1rem;
		font-weight: 300;
		height: 2.75rem;
		letter-spacing: 0.2rem;
		line-height: 2.75rem;
		outline: 0;
		padding: 0 1.25rem 0 1.35rem;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;
    margin-right: 10px;
        margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.outputButton{
    -moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		background-color: transparent;
		border-radius: 4px;
		border: 0;
		box-shadow: inset 0 0 0 1px #ffd40c;
		color: #ffd40c !important;
		cursor: pointer;
		display: inline-block;
		font-size: 1rem;
		font-weight: 300;
		height: 2.75rem;
		letter-spacing: 0.2rem;
		line-height: 2.75rem;
		outline: 0;
		padding: 0 1.25rem 0 1.35rem;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;
    margin-right: 10px;
        margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.plotButton{
    -moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		background-color: transparent;
		border-radius: 4px;
		border: 0;
		box-shadow: inset 0 0 0 1px #ffd40c;
		color: #ffd40c !important;
		cursor: pointer;
		display: inline-block;
		font-size: 1rem;
		font-weight: 300;
		height: 2.75rem;
		letter-spacing: 0.2rem;
		line-height: 2.75rem;
		outline: 0;
		padding: 0 1.25rem 0 1.35rem;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;
    margin-right: 10px;
        margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
}
button:hover {
  background: rgba(255, 212, 12, 0.42);
}

.ace_scroller {
    background-color: #333333;
}

.ace_gutter {
    background-color: #333333;
}

.ace_editor {
        border-left: 10px solid #222222;
        border-bottom: 10px solid #333333;
        border-top: 10px solid #333333;
        border-right: 10px solid #333333;
		font-size: 20px;
        height: 300px;
		width: 98%;
        position: relative;
        left: 6px;
}

.ace_text-input {
    color: #4080bf;
    letter-spacing: normal;
}

.container{ width:100%; }
.align-left{ float: left;width:70%; }
.align-right{float: right;width:30%}

a {
    text-decoration: none;
    color: #ffd40c;
}



textarea {
    -moz-transition: color 1s ease-in-out, background-color 1s ease-in-out, border-bottom-color 1s ease-in-out;
    outline: none;
    font-size: 20px;
    padding: 0px 5px 15px;
    border: 10px solid #333333;
    width: 98%;
    background-color: #333333;
    color: #ffd40c;
}

ul {
    padding-left: 0px;
    margin-left: 10px;
    margin-right: 10px;
    list-style-type: none;
    display: block;
    min-width: 7.5rem;
    height: 3.0rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    border-bottom: 1px solid #ffd40c;
    border-top: 1px solid #ffd40c;
    background-color: Transparent;
}

.active {
    background-color: rgba(255, 212, 12, 0.32);
}

li {
    float: left;
    background-color: rgba(227, 229, 226, 0.17);
    border-right: 1px solid rgba(255, 255, 255, 0.22);
    border-right: 1px solid rgba(255, 255, 255, 0.22);
}

li:last-child {
}

li a {
    display: block;
    color: #ffd40c;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: rgba(255, 212, 12, 0.39);
}

code, pre {
	font-family: Consolas, Monaco, 'Andale Mono', 'Lucida Console', monospace;
	hyphens: none;
    font-size: 13px;
    width: 55%;
    padding: 0px;
    margin: 0px;
    position: relative;
    left: 7px;
    color: #4080bf;
}

.imgdiv{
    margin: 10px;
}
.lang{
    margin: 10px  5px 0px;
}



ul[role=tablist]{
    background-color: rgba(227, 229, 226, 0.17);
    margin-left: 100px;
    border: 1px solid #ffd40c;
    text-transform:none;
}

li[role=tab]{
    background-color: rgba(255, 212, 12, 0.33);
    margin-left: 100px;
    border: 1px solid #ffffff;
    color: #ffffff;
    text-transform:none;
}

div role[dialog]{
    border:none;
}
#dialog label, #dialog input {
    display:block;
}

#dialog label {
    margin-top: 0.5em;
}

#dialog input, #dialog textarea {
    width: 95%;
}
#add_tab {
    cursor: pointer;
}

.ui-widget-content{
   background-color: rgba(27, 31, 34, 0.85);
    font-size: 1rem;
		font-weight: 300;
		line-height: 2.75rem;
    border: solid 1px #ffd40c;
    color: #ffd40c;
}
.ui-dialog-titlebar{
     background-color: rgba(27, 31, 34, 0.61);
    border-bottom: 1px solid #ffd40c;
    border-left: none;
    border-right: none;
    border-top: none;
    font-size: 1rem;
		font-weight: 300;
		height: 2.75rem;
		letter-spacing: 0.2rem;
		line-height: 2.75rem;
    text-transform: uppercase;
    color: #ffd40c;
}

.ui-dialog-buttonpane{
    background-color: rgba(27, 31, 34, 0.51);
    border: none
    font-size: 1rem;
    align: center;
}

.ui-button{
    -moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		background-color: transparent;
		border-radius: 4px;
		border: 0;
		box-shadow: inset 0 0 0 1px #ffd40c;
		color: #ffd40c !important;
		cursor: pointer;
		display: inline-block;
		font-size: 1rem;
		font-weight: 300;
		height: 2.75rem;
		letter-spacing: 0.2rem;
		line-height: 2.75rem;
		outline: 0;
		padding: 0 1.25rem 0 1.35rem;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;

}

.ui-button:hover{
    background: rgba(255, 212, 12, 0.42);
}
.ui-button-icon{
    border: none;
      background-color: rgba(27, 31, 34, 0.85);
     color: #ffd40c;
}

#footer {
		width: 100%;
		max-width: 100%;
        margin-bottom: 3%;
		text-align: center;
	}

		#footer .copyright {
			letter-spacing: 0.2rem;
			font-size: 1.5rem;
			opacity: 0.75;
			text-transform: uppercase;
		}

		body.is-article-visible #footer {
			-moz-transform: scale(0.95);
			-webkit-transform: scale(0.95);
			-ms-transform: scale(0.95);
			transform: scale(0.95);
			-moz-filter: blur(0.1rem);
			-webkit-filter: blur(0.1rem);
			-ms-filter: blur(0.1rem);
			filter: blur(0.1rem);
			opacity: 0;
		}

		body.is-loading #footer {
			opacity: 0;
		}

.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		background-color: transparent;
		border-radius: 4px;
		border: 0;
		box-shadow: inset 0 0 0 1px #ffd40c;
		color: #ffd40c !important;
		cursor: pointer;
		display: inline-block;
		font-size: 1rem;
		font-weight: 300;
		height: 2.75rem;
		letter-spacing: 0.2rem;
		line-height: 2.75rem;
		outline: 0;
		padding: 0 1.25rem 0 1.35rem;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;
    margin-right: 10px;
        margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
	}