@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,600italic,300,600"); 

body {
  background-image: url("static/images/background.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  color: #ffd40c;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
}

strong {
    font-weight: bold;
    margin-top: 100px;
}

p {
    line-height: 130%;
}

.p_editor {
    margin: 15px;
    padding: 0px 5px 10px;
    font-size: 24px;
}
.p_para {
    padding: 0px 5px 10px;
    margin: 0px 7px;
    color: #ffd40c;
    font-size: 24px;
}

h1 {
  -ms-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  display: block;
  margin-top: 7%;
  margin-bottom: 7%;
  margin-right: 20%;
  margin-left: 20%;
  text-transform: uppercase;
  font-size: 4em;
  font-weight: 700;
  vertical-align: baseline;
  text-align: center;
    border-style: solid;
  border-color: #ffd40c;
			border-top-width: 1px;
			border-bottom-width: 1px;
   border-right: transparent;
    border-left: transparent;
}

h2 {
  margin: 15px;
  font-size: 50px;
  font-weight: 100;
}

h3 {
  padding: 10px 5px 15px;
  margin: 0px 7px;
  font-size: 50px;
  font-weight: 300;
}

select {
    -webkit-appearance: menulist;
    border-left: 1px solid #ffd40c;
  border-bottom: 1px solid #ffd40c;
  border-right: 1px solid #ffd40c;
  border-top: 1px solid #ffd40c;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  width: 15%;
  height: 30px;
  margin: 10px;
  font-size: 10px;
  color: #ffd40c;
  background-color: transparent;
}

.close{
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 700px;
  width: 7%;
  height: 25px;
  font-size: 3px;
  color: rgba(255, 255, 255, 0.99);
  background-color:rgba(227, 229, 226, 0.17);
    margin-bottom: 10px;
}

.execButton{
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 100;
  width: 20%;
  height: 50px;
  margin: 15px;
  font-size: 20px;
  color: #ffd40c;
  background-color: transparent;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
    border: solid 1px #ffd40c;
}
.restoreButton{
    cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 100;
  width: 20%;
  height: 50px;
  margin: 15px;
  font-size: 20px;
  color: #ffd40c;
  background-color: transparent;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
    border: solid 1px #ffd40c;
}

.importButton{
    cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 100;
  width: 20%;
  height: 50px;
  margin: 15px;
  font-size: 20px;
  color: #ffd40c;
  background-color: transparent;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
    border: solid 1px #ffd40c;
}

.button {
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 100;
  width: 20%;
  height: 50px;
  margin: 15px;
  font-size: 20px;
  color: #ffd40c;
  background-color: transparent;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
    border: solid 1px #ffd40c;
}

.button .register{
     font-size: 12px;
     letter-spacing: 0px;
     

}

button:hover {
  background: rgba(255, 212, 12, 0.42);
}

.ace_scroller {
    background-color: #333333;
}

.ace_gutter {
    background-color: #333333;
}

.ace_editor {
        border-left: 10px solid #222222;
        border-bottom: 10px solid #333333;
        border-top: 10px solid #333333;
        border-right: 10px solid #333333;
		height: 300px;
		width: 98%;
        position: relative;
        left: 6px;
}

.ace_text-input {
    color: #4080bf;
}

.container{ width:100%; }
.align-left{ float: left;width:70%; }
.align-right{float: right;width:30%}

a {
    text-decoration: none;
    color: #ffd40c;
}

a.button {
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 100;
  width: 15%;
  height: 50px;
  margin: 15px;
  font-size: 20px;
  color: #ffd40c;
  background-color: transparent;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  text-decoration: none;
    border: solid 1px #ffd40c;
 }

textarea {
    -moz-transition: color 1s ease-in-out, background-color 1s ease-in-out, border-bottom-color 1s ease-in-out;
    outline: none;
    font-size: 20px;
    padding: 0px 5px 15px;
    border: 10px solid #333333;
    width: 98%;
    background-color: #333333;
    color: #ffd40c;
}

ul {
    padding-left: 0px;
    margin-left: 10px;
    margin-right: 10px;
    list-style-type: none;
    display: block;
    min-width: 7.5rem;
    height: 3.0rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    border-bottom: 1px solid #ffd40c;
    border-top: 1px solid #ffd40c;
    background-color: Transparent;
}

.active {
    background-color: rgba(255, 212, 12, 0.32);
}

li {
    float: left;
    background-color: rgba(227, 229, 226, 0.17);
    border-right: 1px solid rgba(255, 255, 255, 0.22);
    border-right: 1px solid rgba(255, 255, 255, 0.22);
}

li:last-child {
}

li a {
    display: block;
    color: #ffd40c;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: rgba(255, 212, 12, 0.39);
}

code, pre {
	font-family: Consolas, Monaco, 'Andale Mono', 'Lucida Console', monospace;
	hyphens: none;
    font-size: 13px;
    width: 55%;
    padding: 0px;
    margin: 0px;
    position: relative;
    left: 7px;
    color: #4080bf;
}

.imgdiv{
    margin: 10px;
}
.lang{
    margin: 10px  5px 0px;
}

button a {
    color: #ffd40c;
    font-size: 22px;
    height: 30px;
    width: 300px;
}

ul[role=tablist]{
    background-color: rgba(227, 229, 226, 0.17);
    margin-left: 100px;
    border: 1px solid #ffd40c;
}

li[role=tab]{
    background-color: rgba(156, 156, 156, 0.17);
    margin-left: 100px;
    border: 1px solid #ffffff;
    color: #ffffff;
}


#dialog label, #dialog input { display:block; }
#dialog label { margin-top: 0.5em; }
#dialog input, #dialog textarea { width: 95%; }
#add_tab { cursor: pointer; }

