<!DOCTYPE html>
<html>
<head>
    <title> Cantera for Web </title>
    <script src="static/jquery.js?ver=1"></script>
    <script src="static/execute.js?ver=1"></script>
</head>
<body>
    <h1>Cantera for Web</h1>
    <p>
    <h2>Input</h2>
    <textarea id="pyform" placeholder="Enter code here"rows="20" cols="40"></textarea>
   </p>
    <button type="button" id="execButton"> Execute </button>
    <h2>Output</h2>
    <p>
    <textarea id="output" placeholder="Output appeas here" rows="2" cols="40"></textarea>
   </p>
</body>
</html>
